<div class="paintHeader">
  <span>NgPaint</span>
</div>

<div class="paintContainer">
  <ngp-ngpaint (dataBlob)="downloadImage($event)"></ngp-ngpaint>
</div>

<div class="paintExplanation">
  <div class="header">Informations</div>

  <mat-tab-group>
    <mat-tab label="Vue d'ensemble">
      <div class="explanation">
        <div class="subtitle">MenuDirective</div>

        <table>
          <tr>
            <td>validateText: String</td>
            <td>Texte de validation des boutons d'effets</td>
          </tr>
          <tr>
            <td>cancelText: String</td>
            <td>Texte du bouton de retour arrière</td>
          </tr>
          <tr>
            <td>importText: String</td>
            <td>Texte du bouton d'import d'image</td>
          </tr>
          <tr>
            <td>color: String</td>
            <td>Couleur du menu; red(défaut), blue, green</td>
          </tr>
          <tr>
            <td>menu: Array&lt;MenuElementDirective&gt;</td>
            <td>Tableau représentant le menu</td>
          </tr>
        </table>
      </div>

      <div class="explanation">
        <div class="subtitle">MenuElementDirective</div>

        <table>
          <tr>
            <td>effect: String</td>
            <td>Nom de l'effet à appliquer</td>
          </tr>
         <tr>
            <td>title: String</td>
            <td>Titre de l'effet dans le menu</td>
          </tr>
           <tr>
            <td>redirect: String</td>
            <td>Menu vers lequel on se redirige en cliquant</td>
          </tr>
          <tr>
            <td>submenu: String</td>
            <td>Sous-menu dans lequel se situe le bouton</td>
          </tr>
        </table>
        <div class="notes">*Un élément ne peut pas avoir un effet et une redirection</div>
      </div>

      <div class="explanation">
        <div class="subtitle">DataBlob</div>

        <div class="explanationText">@Output() récupérant les données de l'image sous la forme d'un Blob lors de l'appel du téléchargement</div>
      </div>
    </mat-tab>

    <mat-tab label="Menu">
      <div class="explanation">
        <div class="subtitle">Menu par défaut</div>
        <table>
          <tr>
            <th>Effect</th>
            <th>Title</th>
            <th>Redirect</th>
            <th>Submenu</th>
          </tr>

          <tr *ngFor="let line of menu">
            <td>{{line.effect || 'null'}}</td>
            <td>{{line.title}}</td>
            <td>{{line.redirect || 'null'}}</td>
            <td>{{line.submenu || 'null'}}</td>
          </tr>
        </table>
      </div>
    </mat-tab>

    <mat-tab label="Liste d'effets">
      <div class="explanation">
        <table>
          <tr>
            <th>Nom</th>
            <th>Effet</th>
          </tr>

          <tr>
            <td>reset</td>
            <td>Remet l'image telle qu'importée</td>
          </tr>
          <tr>
            <td>changePicture</td>
            <td>Permet de changer l'image utilisée</td>
          </tr>
          <tr>
            <td>download</td>
            <td>Émet l'outPut dataBlob avec le blob de l'image png comme paramètre</td>
          </tr>

          <tr>
            <td>basicDrawForm</td>
            <td>Menu de sélection des formes de dessin(pinceau, carré, rond, flèche, étoile, texte)</td>
          </tr>
          <tr>
            <td>colorPicker</td>
            <td>Menu de choix des couleurs (à coupler avec basicDrawForm)</td>
          </tr>
          <tr>
            <td>sizeSlider</td>
            <td>Slider de sélection de la taille pour les formes de dessin</td>
          </tr>

          <tr>
            <td>brightness</td>
            <td>Permet d'ajuster la luminosité de l'image</td>
          </tr>
          <tr>
            <td>contrast</td>
            <td>Permet d'ajuster le contraste de l'image</td>
          </tr>
          <tr>
            <td>saturation</td>
            <td>Permet d'ajuster la saturation de l'image</td>
          </tr>

          <tr>
            <td>inver</td>
            <td>Inverse les couleurs de l'image</td>
          </tr>
          <tr>
            <td>grayscale</td>
            <td>Transforme les couleurs de l'image en teinte de gris</td>
          </tr>
          <tr>
            <td>sepia</td>
            <td>Applique un filtre jaune/brun sur l'image</td>
          </tr>
          <tr>
            <td>candy</td>
            <td>Applique un filtre rosé sur l'image</td>
          </tr>
          <tr>
            <td>rainbow</td>
            <td>Applique un filtre arc-en-ciel sur l'image</td>
          </tr>
          <tr>
            <td>gaussian</td>
            <td>Applique un léger flou gaussien sur l'image</td>
          </tr>
          <tr>
            <td>sharpen</td>
            <td>Applique un filtre affinant les contours de l'image (en progrès)</td>
          </tr>
          <tr>
            <td>vignette</td>
            <td>Rajoute une vignette noire sur les bords de l'image</td>
          </tr>
          <tr>
            <td>warmer</td>
            <td>Réchauffe les couleurs de l'image</td>
          </tr>
          <tr>
            <td>colder</td>
            <td>Refroidit les couleurs de l'image</td>
          </tr>
          <tr>
            <td>emphasing</td>
            <td>Transforme l'image en changeant une des couleurs primaires à la valeur sélectionnée</td>
          </tr>
          <tr>
            <td>splash</td>
            <td>Transforme les couleurs de l'image en teinte de gris si elles sont trop éloignées de la couleur sélectionnée</td>
          </tr>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
