@import "../style/variables";

.paintHeader {
  width: 100%;
  box-sizing: border-box;
  padding: $margin*2;
  background-color: $dark-red;
  color: white;
  font-size: 24px;
  text-align: center;
  margin-bottom: $margin;
  box-shadow: $shadow;
}

.paintContainer>.header, .paintExplanation>.header {
  text-align: center;
  font-size: 24px;
  color: $dark-red;
  text-decoration: underline;
}

.paintContainer {
  width: 80%;
  margin: $margin 10%;
  min-height: 600px;
  max-height: 600px;
  overflow: auto;
}

.paintExplanation {
  width: 90%;
  margin: $margin 5%;
}

.explanation {
  padding: 25px;

  .subtitle {
    color: $dark-red;
    font-size: 16px;
    text-decoration: underline;
  }

  .explanationText {
    margin: $margin 0 0 $margin;
  }

  .notes {
    color: #555555;
    font-size: 11px;
  }

  table, tr {
    width: 100%;
    padding: $margin;
    font-size: 14px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  td {
    padding: $margin;
  }
}
